@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-info: #152039 !important;
  --toastify-color-success: #00a5a3 !important;
  --toastify-color-warning: #eab308 !important;
  --toastify-color-error: #ef4444 !important;

  --toastify-icon-color-info: var(--toastify-color-info) !important;
  --toastify-icon-color-success: var(--toastify-color-success) !important;
  --toastify-icon-color-warning: var(--toastify-color-warning) !important;
  --toastify-icon-color-error: var(--toastify-color-error) !important;

  --toastify-toast-width: 620px !important;
  --toastify-font-family: Short Stack !important;
  --toastify-z-index: 99999999 !important;
}

/* Custom Scrollbar styles */
::-webkit-scrollbar {
  display: none;
}

